# ==== Modelo y datos de prueba ====
MODEL_S3_BUCKET=mlops-model-bucket
MODEL_S3_KEY=models/current/model.onnx
LOCAL_MODEL_PATH=/models/model.onnx

TEST_DATA_S3_BUCKET=mlops-model-bucket
TEST_DATA_S3_KEY=test-data/test_data.json
TEST_DATA_LOCAL_PATH=tests_data/test_data.json

# Umbral de métrica
MIN_ACCEPTABLE_ACCURACY=0.7

# ==== Logs de predicciones ====
PREDICTIONS_S3_BUCKET=mlops-logs-bucket
# En ECS dev: PREDICTIONS_S3_KEY=predictions_dev.txt
# En ECS prod: PREDICTIONS_S3_KEY=predictions_prod.txt

# ==== AWS ====
AWS_REGION=us-east-1

# ==== API ====
ENVIRONMENT=dev   # o prod
